.container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  left:50%;
  top: 50%;
  
  transform: translate(-50%, -50%);
  
}
.login-form {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  background-image: linear-gradient(135deg, #7dd3fc, #7e22ce);
}

.form-item {
  width: 50%;
  text-align:center;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  padding-left:4px;
  padding-right:4px;
  padding-top:12px;
  padding-bottom: 12px;
  margin:4px;
  border-radius: 10px;
}

.btn {
  background-color: black;
  color:white;
  font-weight: bold;
}

.link {
  color:white;
  text-decoration: none;
}

.msg {
  background-color: white;
  padding:4px;
  border-radius: 10px;
}

.success {
  color:green;
}

.error {
  color:red;
}

